:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --light: #ffffff;
    --light-rgb: 255, 255, 255;
    --dark: #000000;
    --insel-grey: #677078;
    --insel-grey-rgb: 103, 112, 120;
    --insel-green: #009870;
    --insel-blue: #6ca5da;
    --insel-rosa: #e5cbd6;

    --red: #E57373;
    --orange: #FFB74D;
    --green: #81C784;

    --scrollbar-width: 1em;

    color: var(--insel-grey);
    fill: var(--insel-grey);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    display: flex;
    flex-direction: column;

    height: 100%;

    margin: 0;
}

input[type='radio'] {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1em;
    height: 1em;

    border: 1px solid var(--insel-grey);
}

input[type='radio']::before {
    content: '';

    width: 0.75em;
    height: 0.75em;

    background-color: var(--insel-grey);
    scale: 0;
    transition: 0.25s;
}

input[type='radio']:checked::before {
    scale: 1;
}

input[type='text'] {
    all: unset;

    padding: 0.5em;

    border: 1px solid var(--insel-grey);

    transition: 0.25s;
}

input:focus {
    box-shadow: 0 0 0.5em var(--insel-blue);
}

input[type='text']::placeholder {
    color: rgba(0, 0, 0, 0.25)
}

button {
    all: unset;

    padding: 0.5em;

    border: 1px solid var(--insel-grey);

    transition: 0.25s;  
}

button:focus {
    box-shadow: 0 0 0.5em var(--insel-green);
}